services:
  app:
    container_name: app
    build:
        context: .
        dockerfile: Dockerfile
    restart: on-failure
    ports:
      - "${PORT:-8000}:${PORT:-8000}"
    env_file:
      - .env
    volumes:
      - github_id_to_discord_id_mapping:/app/${GITHUB_ID_TO_DISCORD_ID_MAPPING_PATH}

volumes:
  github_id_to_discord_id_mapping:
